/* About Page Hover Lift */
.hover-lift {
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.hover-lift:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
}

.service-icon-box2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

/* Service Pages */

.process-card {
  border-bottom: 4px solid transparent !important;
  transition: all 0.3s ease;
}
.process-card:hover {
  border-bottom: 4px solid #00f2ff !important; /* Your Cyan Color */
  transform: translateY(-10px);
}
.hover-lift:hover {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08) !important;
}
.ls-2 {
  letter-spacing: 2px;
}

.cursor-pointer {
  cursor: pointer;
}
summary::-webkit-details-marker {
  display: none;
}

.faq-item summary {
  transition: all 0.3s ease;
}

.faq-item[open] summary {
  background: #f8fafc !important;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 0;
}

.faq-item summary:hover {
  background: #f1f5f9;
  transform: translateX(5px);
}

.faq-icon {
  transition: transform 0.3s ease;
}

.faq-item[open] .faq-icon {
  transform: rotate(180deg);
}

.ls-2 {
  letter-spacing: 2px;
}
